<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta charset="utf-8" />
    <title>{{title}}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet" />
    <link rel='stylesheet' href='/styles/style.css' />
  </head>
  <body class="theme-{{theme}}">
    <main>
      {{{body}}}
    </main>
  </body>
</html>
