@import 'themes';

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font: 400 14px/20px Roboto, RobotoDraft, Helvetica, Arial, sans-serif;

  main {
    padding: 16px;
  }

  * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

.theme-light {
  @include theme-light();
}

.theme-dark {
  @include theme-dark();
}

.button {
  display: inline-block;
  box-sizing: border-box;
  padding: 8px 16px;
  margin: 0;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 2px solid;
  border-radius: 12px;
  font: inherit;
  font-size: 14px;

  &:hover {
    transition-duration: 0.4s;
    transition-property: background-color;
  }
}

.form-field {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin: 8px 0;

  label {
    width: 150px;
  }

  input,
  textarea {
    background: transparent;
    padding: 8px;
    font: inherit;
    border: 1px solid;
    border-radius: 12px;
    transition-duration: 0.4s;
    transition-property: border-color;
    outline: none;
    flex: 1 1 auto;
  }
}

.form-checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin: 8px 16px;
  height: 40px;
}

.note-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;

  .button {
    width: 150px;
  }

  .main-actions,
  .sort-actions,
  .filter-actions {
    padding-bottom: 16px;
  }
}

.form-actions {
  display: flex;
  flex-direction: row;

  justify-content: flex-end;

  .button:not(:last-child) {
    margin-right: 8px;
  }
}

.card {
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  padding: 16px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  .card-title {
    margin-top: 0;
    margin-bottom: 12px;
    font-size: 20px;
    font-weight: 500;
  }

  .card-title,
  .card-subtitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .card-subtitle {
    font-size: 12px;
    margin-bottom: 16px;
    flex-wrap: wrap;

    &:not(:first-child) {
      margin-top: -8px;
    }
  }

  .card-content {
    margin-bottom: 16px;
    flex: 1 1 auto;
  }

  .card-actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-left: -8px;
    margin-right: -8px;
    margin-bottom: -8px;

    .button:not(:last-child) {
      margin-right: 8px;
    }
  }
}

.card-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 8px 0;

  .card {
    width: 400px;
    margin-right: 8px;
    margin-bottom: 16px;
  }
}

.note-title {
  flex: 1 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.no-entries-notification {
  width: 100% !important;
}

@media screen and (max-width: 1280px) {
  .card-list {
    .card {
      width: 300px;
    }
  }

  .note-actions {
    .main-actions {
      width: 100%;
    }
  }
}

@media screen and (max-width: 600px) {
  .form-field {
    flex-direction: column;
    align-items: stretch;
  }

  .form-actions {
    flex-direction: column-reverse;

    .button {
      margin-right: 0 !important;
      margin-bottom: 4px;
    }
  }

  .card-list {
    flex-direction: column;

    .card {
      width: 100%;
      margin: 8px 0;
    }
  }

  .note-actions {
    flex-direction: column;

    .main-actions,
    .sort-actions,
    .filter-actions {
      display: flex;
      flex-direction: column;

      .button {
        width: 100%;
      }

      .button:not(:last-child) {
        margin-bottom: 4px;
      }
    }
  }
}
